<article class="top-bar">
    <section class="icons-container">
        <img src="../../assets/icons/message-icon.svg" alt="message-icon" class="icon">
        <img src="../../assets/icons/facebook-icon.svg" alt="facebook-icon" class="icon">
        <img src="../../assets/icons/twitter-icon.svg" alt="twitter-icon" class="icon">
        <img src="../../assets/icons/instagram-icon.svg" alt="instagram-icon" class="icon">
        <img src="../../assets/icons/pinterest-icon.svg" alt="pinterest-icon" class="icon">
    </section>
    <section class="icons-container">
        <p>SING IN </p>
        <p>REGISTER</p>
        <img src="../../assets/icons/cart-ecommerce-icon.svg" alt="cart-icon" class="icon">
    </section>
</article>
